body {
  background: url(../images/Logo.jpg);
  background-repeat: repeat-y;
  color: silver;
}

.container {
  text-align: center;
  font: 24px;
}

h1 {
  text-align: center;
}

.incorrect, .correct {
  font: 24px;
}